.home-container {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    
}

.home-card {
    display: flex;
    flex-direction: column-reverse;
    color: #FFF;
    
    border-radius: 10px;
    background-color: #00285F;
}

.home-card2 {
     
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    
    border-radius: 10px;
    background-color: #EDEDED;
    
}

.home-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 10px 20px 10px;
    
}

.home-content-container h1 {
    width: 260px;
    font-size: 1em;
    margin-bottom: 15px;
}

.home-content-container p {
    width: 260px;
    font-size: 0.7em;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home-image-container {
    padding: 20px 28px;
    
}

.home-image-container svg {
    width: 100%;
    height: auto;
}

.btn-icon p {
    color: #585858;
    font-size: 18px;
}


@media (min-width: 576px) {


    .home-card2 {
     
        display: flex;
        flex-direction: row;  
        padding-left: 85px;
    }

    .home-card2 p {
     
        padding-top: 50px;  
        padding-left: 20px;
    }


    .home-container {
        padding: 15px;
        font-size: 40px;
    }

    .home-content-container h1 {
        width: 506px;
        margin-bottom: 0;
    }

    .home-content-container p {
        width: 600px;
        margin-bottom: 20px;
        
    }

    .btn-icon home-card2 button {
        width: 506px;
    }

    .home-image-container svg {
        width: 506px;
        
    }
}

@media (min-width: 768px) {

    .home-card2 {
     
        display: flex;
        flex-direction: row;  
        padding-left: 85px;
    }

    .home-card2 p {
     
        padding-top: 50;  
        padding-left: 20px;
    }

     


    .home-image-container {
        padding: 50px 40px;
        
    }

    .home-content-container {
        padding: 70px 20px 100px 20px;
        
    }

    .home-content-container p {
        width: 500px;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
    }

     

     
}

@media (min-width: 992px) {
    
    .home-card2 {
     
        display: flex;
        flex-direction: row;  
        padding-left: 85px;
    }

    .home-card2 p {
     
        padding-top: 50px;  
        padding-left: 20px;
    }
    
    .home-container {
        font-size: 36px;
        padding: 50px;
    }



    .home-image-container {
        padding: 125px 40px;
        
    }

    .home-content-container {
        padding: 80px 20px 150px 20px;
        
    }

    .home-content-container h1 {
        padding-top: 1px;
        width: 600px;
        margin-bottom: 0;
    }
    
    .home-content-container p {
        width: 500px;
        margin-bottom: 47px;
    }
}


@media (min-width: 1200px) {

    .home-card2 {
     
        display: flex;
        flex-direction: row;  
        padding-left: 85px;
    }

    .home-card2 p {
     
        padding-top: 50px;  
        padding-left: 20px;
    }
    

    

    .home-card {
        flex-direction: row;
    }

    .home-content-container {
        padding: 100px 20px 100px 50px;
        align-items: flex-start;
        text-align: left;
        padding: 60px 10px 20px 10px;
        margin-left: 180px;
        margin-top: 100px;
        
    }

    .home-image-container {
        
        padding-top: 170px;
    
        
    }

    .home-image-container svg {
        width: 100%;
    }

    .home-content-container h1 {
        margin-bottom: 0;
    }

    .home-content-container p {
        font-size: 24px;
    }

}

@media (min-width: 1400px) {
    .home-image-container svg {
        width: 480px;
    }
}












